<div class="bar bar-header bar-balanced">
  <h1 class="title">Guest Record</h1>
</div>

<div ng-app="menuApp">
  <div ui-view style="padding-top:40px"></div>
</div>

<div class="tabs-striped tabs-color-balanced">
    <div class="tabs">
      <a class="tab-item active" href="#/guest">
        <i class="icon ion-ios-navigate"></i>
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Favorites
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
    </div>
</div>