<div ng-controller="MailListCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <button type="button" class="btn btn-default btn-addon pull-right m-t-n-xs" ui-toggle-class="show" target="#aside">
            <i class="fa fa-plus"></i> Add
        </button>
        <h1 class="m-n font-thin h3">Guest Record</h1>
    </div>

    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="wrapper-md">
            <div class="panel panel-default" ng-controller="MailListCtrl">
                <!-- list -->
                <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
                    <li ng-repeat="mail in mails | filter:fold" ng-class="labelClass(mail.label)" class="list-group-item clearfix b-l-3x">
                        <a ui-sref="app.page.profile" class="avatar thumb pull-left m-r">
                            <img ng-src="{{mail.avatar}}">
                        </a>
                        <div class="pull-right text-sm text-muted">
                            <span class="hidden-xs">{{ mail.date | fromNow }}</span>
                            <i class="fa fa-paperclip ng-hide m-l-sm" ng-show="{{mail.attach}}"></i>
                        </div>
                        <div class="clear">
                            <div><a ui-sref="app.mail.detail({mailId:mail.id})" class="text-md">{{mail.subject}}</a><span class="label bg-light m-l-sm">{{mail.label}}</span></div>
                            <div class="text-ellipsis m-t-xs">{{mail.content | limitTo:100}}</div>
                        </div>
                    </li>
                </ul>
                <!-- / list -->
            </div>
        </div>
        <div class="col w-md w-auto-xs bg-light dk bg-auto b-l hide" id="aside">
            <div class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-5 control-label"><span id="spnName">Cost Type Name</span> :</label>
                            <div class="col-sm-7">
                                <input type="hidden" class="form-control" id="txtId" name="id" ng-model="user.id">
                                <input type="text" class="form-control" id="txtName" name="Name" tabindex="1" ng-model="user.Name" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-5 control-label"><span id="spnNameEn">Cost Type Name En</span> :</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="txtNameEN" name="NameEN" autocomplete="off" tabindex="2" ng-model="user.NameEN">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-sm-4"></label>
                            <div class="col-sm-8">
                                <div class="checkbox-list">
                                    <label class="checkbox-inline" style="margin-left: 20px">
                                        <input type="checkbox" id="chkIsActive" name="IsActive"><span id="spnActive"> Active</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
