<!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Call Taxi</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading">
      DataTables
    </div>
    <div class="table-responsive">
      <table ui-jq="dataTable" ui-options="{
          sAjaxSource: 'api/datatable.json',
          aoColumns: [
            { mData: 'engine' },
            { mData: 'browser' },
            { mData: 'platform' },
            { mData: 'version' },
            { mData: 'grade' }
          ]
        }" class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th  style="width:20%">Rendering engine</th>
            <th  style="width:25%">Browser</th>
            <th  style="width:25%">Platform(s)</th>
            <th  style="width:15%">Engine version</th>
            <th  style="width:15%">CSS grade</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
 -->
 
 <div ng-controller="ContactCtrl">
 
<div class="bg-light lter b-b wrapper-md">
<button type="button" class="btn btn-default btn-addon pull-right m-t-n-xs" ng-click="ShowDlg()"   >
    <i class="fa fa-plus"></i> Add
</button>
 
 <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            asldjlaskjdaskljdklsajdk
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script> 
  <h1 class="m-n font-thin h3">Contacts</h1>
</div> 
</div>
	