
<div ng-controller="CallTaxiCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <!--button type="button" class="btn btn-default btn-addon pull-right m-t-n-xs" ui-toggle-class="show" target="#aside">
            <i class="fa fa-plus"></i> Add
        </button-->
        <h1 class="m-n font-thin h3">Call Text</h1>
    </div>
<!-- timeline -->
			  <div class="col-md-8">
<div class="col  bg-white-only b-l bg-auto no-border-xs">
	<div class="wrapper bg b-b">
      <h3 class="m-n font-thin">List</h3>
    </div>
        <div class="wrapper-md">
          <div class="m-b-sm text-md"></div>
          <ul class="list-group bg-auto no-borders pull-in">
            <li class="list-group-item">
              <a herf class="pull-left thumb-sm avatar m-r">
                <img src="img/pong.png" alt="..." class="img-circle">
                <i class="busy b-white bottom"></i>
              </a>
              <div class="clear">
                <div><a href>Pong</a></div>
                <small class="text-muted">Project Manager</small>
              </div>
            </li>
            <li class="list-group-item">
              <a herf class="pull-left thumb-sm avatar m-r">
                <img src="img/beam.png" alt="..." class="img-circle">
                <i class="away b-white bottom"></i>
              </a>
              <div class="clear">
                <div><a href>Beam</a></div>
                <small class="text-muted">Programer</small>
              </div>
            </li>
            <li class="list-group-item">
              <a herf class="pull-left thumb-sm avatar m-r">
                <img src="img/joi.png" alt="..." class="img-circle">
                <i class="away b-white bottom"></i>
              </a>
              <div class="clear">
                <div><a href>Yanakorn</a></div>
                <small class="text-muted">Programer</small>
              </div>
            </li>
			<li class="list-group-item">
              <a herf class="pull-left thumb-sm avatar m-r">
                <img src="img/Toye.png" alt="..." class="img-circle">
                <i class="away b-white bottom"></i>
              </a>
              <div class="clear">
                <div><a href>Sompob</a></div>
                <small class="text-muted">Programer</small>
              </div>
            </li>
			<li class="list-group-item">
              <a herf class="pull-left thumb-sm avatar m-r">
                <img src="img/a8.jpg" alt="..." class="img-circle">
                <i class="away b-white bottom"></i>
              </a>
              <div class="clear">
                <div><a href>Nuttapon</a></div>
                <small class="text-muted">...</small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
	
	
		  <!-- timeline -->
	  <!-- .col -->
	  <div class="col-md-4">
  <div class="col bg-light dk b-r bg-auto" id="aside">
    <div class="wrapper bg b-b">
      <button class="btn btn-sm btn-success pull-right" ui-toggle-class="timeline-center" target=".timeline">Cler</button>
      <h3 class="m-n font-thin">Timeline</h3>
    </div>
    <div class="wrapper">
      <form>
        <div class="form-group">
          <label>บ้านเลขที่</label>
          <input type="text" placeholder="บ้านเลขที่ ..." class="input-sm form-control">
        </div>
        <div class="form-group">
          <label>ทะเบียนรถ</label>
          <input type="text" placeholder="ทะเบียนรถ ..." class="input-sm form-control">
        </div>
        <div class="form-group">
          <label>เบอร์โทร</label>
          <input type="text" placeholder="Phone" class="input-sm form-control">
        </div>
			<div class="btn-group" dropdown>
            <button type="button" class="btn btn-danger">สถานะ</button>
            <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
              <span class="caret"></span>
              <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href>Action</a></li>
              <li><a href>Another action</a></li>
              <li><a href>Something else here</a></li>
              <li class="divider"></li>
              <li><a href>Separated link</a></li>
            </ul>
			</div>
			<div class="form-group">
			<div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green-sharp" div class="form-group">
                                        <div class="col-sm-6">
                                            <i class="font-green-sharp"></i>
                                            <span class="caption-subject bold uppercase">รูปภาพ</span>
                                        </div>
                                        <div class="col-sm-6" id="btnPicture" align=right>
                                            <button type="file" nv-file-select="" uploader="uploader" class="btn btn-success btn-s">
                                                <span class="glyphicon glyphicon-download"></span>
                                            </button>
                                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                <span class="glyphicon glyphicon-upload"></span>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover table-light">
                                            <thead>
                                                <tr class="uppercase">
                                                    <th width="80%">Preview</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in uploader.queue">
                                                    <td><strong>{{ item.file.name }}</strong>
                                                    </td>
                                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                    <td ng-show="uploader.isHTML5">
                                                        <div class="progress progress-sm" style="margin-bottom: 0;">
                                                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                                                        <span ng-show="item.isCancel" class="text-info"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                        <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
							</div>
      </form>
	  <div class="m-t-md m-b-md"><button class="btn btn-sm btn-primary">Add an event</button></div>
    </div>
  </div>
   </div>
     </div>
  <!-- /.col -->