<style>
    div#btnPicture {
        text-align: right;
        padding-right: 0px;
    }
    
    .col-sm-6 {
        padding-left: 0px;
    }
</style>


<div ng-controller="GuestRecordCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <button type="button" class="btn btn-default btn-addon pull-right m-t-n-xs" ui-toggle-class="show" target="#aside">
            <i class="fa fa-plus"></i> Add
        </button>
        <h1 class="m-n font-thin h3">Guest Record</h1>
    </div>

    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="wrapper-md">
            <div class="panel panel-default" ng-controller="GuestRecordCtrl">
                <!-- list -->
                <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
                    <li ng-repeat="mail in guest_records | filter:fold" ng-class="labelClass(mail.label)" class="list-group-item clearfix b-l-3x">
                        <a ui-sref="app.page.profile" class="avatar thumb pull-left m-r">
                            <img ng-src="{{mail.avatar}}">
                        </a>
                        <div class="pull-right text-sm text-muted">
                            <span class="hidden-xs">{{ mail.date | fromNow }}</span>
                            <i class="fa fa-paperclip ng-hide m-l-sm" ng-show="{{mail.attach}}"></i>
                        </div>
                        <div class="clear">
                            <div><a ui-sref="app.mail.detail({mailId:mail.recordId})" class="text-md">บ้านเลขที่่ : {{mail.houseNo}}</a>
                                <span class="label bg-light m-l-sm">{{mail.label}}</span>
                            </div>
                            <div class="text-ellipsis m-t-xs">เหตุผล : {{mail.remark | limitTo:100}}</div>
                        </div>
                    </li>
                </ul>
                <!-- / list -->
            </div>
        </div>
        <div class="col w-md w-auto-xs bg-light dk bg-auto b-l hide" id="aside">
            <div class="bg-light lter b-b wrapper-md">
                <h1 class="m-n font-thin h4">Add/Edit Guest Record</h1>
            </div>

            <form name="newMail" class="form-horizontal m-t-lg">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label"><span id="spnName">บ้านเลขที่</span> :</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="txthouseNo" name="houseNo" tabindex="1" ng-model="user.houseNo" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label"><span id="spnName">ชื่อผู้มาติดต่อ</span>:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="txtName" name="Name" tabindex="1" ng-model="user.Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label"><span id="spnName">สาเหตุที่มาติดต่อ</span> :</label>
                                <div class="col-sm-7">
                                    <select class="form-control input-sm select2me" data-placeholder="Select...">
                                        <option value=""></option>
                                        <option value="AL">ทวงหนี้</option>
                                        <option value="WY">หาเด็ก</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-5 control-label"><span id="spnNameEn">ทะเบียนรถ</span> :</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="txtcarLicenseNo " name="carLicenseNo " autocomplete="off" tabindex="2" ng-model="user.carLicenseNo ">
                                </div>
                            </div>
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green-sharp" div class="form-group">
                                        <div class="col-sm-6">
                                            <i class="icon-settings font-green-sharp"></i>
                                            <span class="caption-subject bold uppercase">รูปภาพ</span>
                                        </div>
                                        <div class="col-sm-6" id="btnPicture">
                                            <button type="file" nv-file-select="" uploader="uploader" class="btn btn-success btn-s">
                                                <span class="glyphicon glyphicon-download"></span>
                                            </button>
                                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                <span class="glyphicon glyphicon-upload"></span>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover table-light">
                                            <thead>
                                                <tr class="uppercase">
                                                    <th width="80%">Preview</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in uploader.queue">
                                                    <td><strong>{{ item.file.name }}</strong>
                                                    </td>
                                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                    <td ng-show="uploader.isHTML5">
                                                        <div class="progress progress-sm" style="margin-bottom: 0;">
                                                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                                                        <span ng-show="item.isCancel" class="text-info"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                        <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="button" class="btn btn-warning btn-s" ng-click="Add()">
                                        <span class="glyphicon glyphicon-ban-circle"> Save</span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-s" ui-toggle-class="show" target="#aside">
                                        <span class="glyphicon glyphicon-trash"> Clear</span>
                                    </button>
                                </div>
                            </div>
                        </div>
            </form>
            </div>
            </div>
        </div>